/* claimSelectBankModal.module.css */

.ModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.ModalContents {
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-radius: 40px 40px 0 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 450px) {
  .ModalContents {
    width: 440px;
    border-radius: 30px 30px 0 0;
  }
}

.ModalContentsWrap {
  width: 100%;
  padding: 20px;
  flex-shrink: 0;
  background-color: #fff;
}

.ModalContents_Title {
  display: flex;
  justify-content: end;
  width: 100%;
}

.ModalContentsWrap h3 {
  color: #1b1e28;
  font-size: 22px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
  margin-bottom: 0;
}

.BankMenuContents {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 24px;
}

.BankMenuContents::-webkit-scrollbar {
  display: none;
}

.BankMenuContents {
  scrollbar-width: none;
}

.BankMenu {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3칸짜리 그리드 레이아웃 */
  gap: 8px;
  width: 100%;
}

.BankItemWrap {
  background-color: #f3f4f6;
  border-radius: 12px;
}

.BankItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 16px 12px;
}

.BankItem span {
  color: #66686f;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.ImagesWrap {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImagesWrap img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 18px;
  object-fit: cover;
}

.ButtonContents {
  display: flex;
  width: 100%;
  gap: 4px;
}

.ButtonContents button {
  background-color: #f3f4f6;
  padding: 6px 16px;
  color: #96989c;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  border-radius: 12px;
}

.ButtonContents button.active {
  background-color: #386937;
  color: #fff;
}
