.MainPageWrap {
  width: 100%;
  z-index: 9999;
}
.MainHeader {
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0px 0px 0px 0.0125rem rgba(0, 0, 0, 0.04);
  background: #386937;
  z-index: -12;
  height: 15.75rem;
}
.loggedInHeader {
  height: 22.5rem;
}

.headerWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerFirstContents {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.levelData {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.memberInfo {
  margin-top: 0.625rem;
  margin-left: 1.25rem;
  margin-bottom: 0.25rem;
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}

.MyInfo {
  width: 10rem;
  height: 2.5rem;
  position: relative;
  right: 4%;
  margin-top: 0.625rem;
}

.MyInfo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 슬라이드 가입자 내역 */

/* gird */

/* GridContainer.module.css */
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 50%);
  gap: 0.5rem;
  justify-content: center;
  padding: 0 2%;
  margin-top: 2rem;
}

.loggedInGrid {
  margin-top: 5.625rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  background-color: #ebf0eb;
  border-radius: 0.75rem;
}

.gridText {
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  grid-column: 1/3;
  font-weight: 600;
  line-height: 1.25rem;
  color: #1b1e28;
}

/* 메뉴박스 2개 */

.claimHelpMenuBox {
  display: flex;
  justify-content: center;
  gap: 0.5625rem;
  width: 100%;
  padding: 0 1.25rem;
  margin-top: 1.25rem;
}
.helpbox {
  background-color: #e8e9ea;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}
.helpbox p {
  text-align: center;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #494b53;
}

/* 텍스트 */
.textBoxWrap {
  margin-top: 2.5rem;
  width: 100%;
}

.textBoxFlexCol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1.25rem;
}
.TextList {
  display: flex;
}

.TextListStyle {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}
.TextListStyle p {
  color: #66686f;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1rem;
}

.line {
  background: #f3f4f6;
  width: 100%;
  height: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

/* notice 푸터 쪽 */

.Noticewrap {
  width: 100%;
  border-radius: 0.75rem;
  padding-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.NoticeFelxCol {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 1.25rem;
}

.NoticeFelxRowBox {
  display: flex;
  align-items: center;
  padding: 1rem 1.125rem;
  justify-content: space-between;
  border-radius: 0.75rem;
}

.NoticeTextBox {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.NoticeTextBox p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #1b1e28;
}
.NoticeTextBox span {
  color: #386937;
  background-color: #dbe5db;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  text-align: right;
  border-radius: 1.125rem;
}

.NoticeFexMethod {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.NoticeFexMethod p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #1b1e28;
}

.Rotate {
  transform: rotate(180deg);
}

.NoticeContent {
  padding: 0.625rem;
  background: #000;
  display: none;
}

.NoticeContent.active {
  display: block;
}

.boundary {
  width: 100%;
  height: 0.0625rem;
  background-color: #e8e9ea;
}

.hiddenTextBox {
  padding: 0 1.25rem;
  margin: 1rem 0px;
}
.hiddenTextBox li {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  color: #1b1e28;
}

.NoticeBgColor {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
}
.hiddenTextBox_two {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: #1b1e28;
  padding: 0 1.25rem;
  margin: 1rem 0px;
}
.hiddenTextBox_two li {
  color: #1b1e28;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2rem;
}
.LevelText {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: white;
}

/* 버튼 */

.ModifyContents {
  width: 100%;
}
.ModifyButtonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5625rem;
  width: 100%;
  padding: 0 1.25rem;
  margin-top: 1.875rem;
}
.ModifyButton {
  width: 100%;
  padding: 0.625rem 1rem;
  background-color: #e8e9ea;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: #494b53;
  border-radius: 0.75rem;
}
