.receptionistInfoContainer {
  width: 100%;
  margin-top: 40px;
}
.receptionistInfoSection {
  width: 100%;
  padding: 0 6%;
}

.receptionistInfoSection h2 {
  color: #050505;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
}

.InputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputWrap {
  width: 100%;
  margin-bottom: 20px;
}
