.receiptContainer {
  width: 100%;
}

.receiptSection {
  width: 100%;
}

.receiptSection h2 {
  color: #4d4d4d;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
  text-align: center;
}

.selectOption {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.selectOption p {
  color: #386937;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #d5d5d5;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

.InputWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5%;
}
