/* SucceedModal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 500px) {
  .modal {
    width: 360px;
  }
}

.modalTitle {
  display: flex;
  width: 100%;
  justify-content: end;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.subTitle {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textWrap {
  display: flex;
  align-items: center;
}

.textWrap p:nth-child(2) {
color: #1b1e28;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: center;

}

.buttonWrap {
  width: 100%;
}

.buttonContents {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonContents button {
  width: 40%;
  padding: 16px 18px;
  border-radius: 12px;
}

.buttonContents button:nth-child(1) {
  background-color: #e8e9ea;
  color: #494b53;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.buttonContents button:nth-child(2) {
  background-color: #386937;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
