/* mainheader.module.css */
.headerContainer {
  width: 100%;
  padding: 20px 4%;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 440px;
  margin: 0 auto;
}

/* 파트너 로고용 스타일 */
.logo {
  height: 40px;
  max-width: 270px;
  object-fit: contain;
  width: 100%;
}

/* 기본 insuRETrust 로고용 스타일 */
.mainLogo {
  width: 146px;
  height: 40px;
  object-fit: contain;
}

.headPhone {
  cursor: pointer;
}

.menuFlex {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: end;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .headerContainer {
    padding: 12px 16px;
  }

  .logo {
    height: 32px;
    max-width: 220px
  }
}