/* modalLayout.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

.modalOverlay_enter {
  opacity: 0;
}

.modalOverlay_enter_active {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.modalOverlay_exit {
  opacity: 1;
}

.modalOverlay_exit_active {
  opacity: 0;
  transition: opacity 0.8s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* 하단 모달 */
.modal_bottom {
  position: absolute;
  bottom: 0;
  background: white;
  box-shadow: 0px 0px 6.5px 0px rgba(0, 0, 0, 0.25);
  /* padding: 20px 20px 60px 20px; */
  padding: 20px;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  z-index: 1001;
  max-width: 440px;
}

.modal_bottom_enter {
  transform: translateY(100%);
}

.modal_bottom_enter_active {
  transform: translateY(0);
  animation: slideUp 0.3s ease-out forwards;
}

.modal_bottom_exit {
  transform: translateY(0);
}

.modal_bottom_exit_active {
  transform: translateY(100%);
  animation: slideDown 0.3s ease-in forwards;
}

/* 중앙 모달 */
.modal_center {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  box-sizing: border-box;
  z-index: 1001;
  max-width: 330px;
}

.modal_center_secondary {
  position: relative;
  background: white;
  padding: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  box-sizing: border-box;
  z-index: 9999;
  max-width: 400px;
}

.modal_center_enter {
  opacity: 0;
}

.modal_center_enter_active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal_center_exit {
  opacity: 1;
}

.modal_center_exit_active {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 768px) {
  .modal_center {
    width: 85%;
  }
  .modal_bottom {
    border-radius: 30px 30px 0 0;
  }
}

@media screen and (max-width: 344px) {
  .modal_center_secondary {
    width: 94%;
  }
}
