.optionContainerWrapper {
  width: 100%;
  position: relative;
}

.checkContainer {
  width: 100%;
  border-radius: 16px;
  border: 2px solid #e2e2e2;
  background-color: #fff;
  transition: all 0.3s ease;
  overflow: hidden; /* 내부 콘텐츠가 영역을 벗어나지 않도록 설정 */
}

.checkContainer.expanded {
  border: 2px solid #285627;
  box-shadow: 0px 1px 3px 0px rgba(56, 105, 55, 0.2);
}

.checkBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 16px;
  cursor: pointer;
  background-color: #fff; /* 배경색 설정 */
  z-index: 1; /* 기본 z-index 설정 */
}

.checkBox.active {
  border: none; /* 내부에서는 테두리 제거 */
}

.checkBox.expanded {
  border-bottom: 1px solid #f0f0f0;
}

.selected {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
}

.notSelected {
  color: #96989c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.rotateIcon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.detailContainer {
  width: 100%;
  background-color: #fff;
  padding: 0px;
  max-height: 0; /* 기본 상태는 닫혀 있음 */
  overflow: hidden; /* 닫혀 있을 때는 내용을 숨김, 스크롤 없음 */
  transition: all 0.3s ease-in-out; /* 부드러운 트랜지션 효과 */
  opacity: 0; /* 기본 상태는 투명 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE, Edge에서 스크롤바 숨기기 */
}

/* Webkit 기반 브라우저(Chrome, Safari 등)에서 스크롤바 숨기기 */
.detailContainer::-webkit-scrollbar {
  display: none;
}

/* 활성화 상태일 때 스타일 */
.detailContainer.active {
  max-height: 250px; /* 열릴 때 최대 높이 */
  opacity: 1; /* 완전히 표시 */
  padding: 8px; /* 활성화될 때만 패딩 적용 */
  overflow-y: auto; /* 활성화 상태에서만 세로 스크롤 허용 */
}

.detailItem {
  padding: 12px 16px;

  border-radius: 8px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-bottom: 1px solid #f0f0f0;
}

.detailItem:hover {
  background-color: #f5f5f5;
}

.detailItem.selectedItem {
  background-color: rgba(56, 105, 55, 0.1);
  color: #285627;
  font-weight: 500;
}

.detailItem:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
