.sliderContainer {
  width: 100%;
  max-width: 28rem; /* max-w-md */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.inputValue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.inputValue p,
span {
  color: #386937;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
}
.inputValue p {
  font-weight: 700;
}
.inputValue span {
  font-weight: 400;
}

.slider {
  position: relative;
  width: 100%;
  height: 6px; /* h-2 */
  background: #c3d2c3; /* 비활성화된 부분 색상 변경 */
  border-radius: 0.5rem; /* rounded-lg */
  appearance: none;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5rem;
  width: var(--range-progress);
  background: #386937; /* 활성화된 부분 색상 변경 */
  border-radius: 0.5rem 0 0 0.5rem;
}

/* Chrome */
.slider::-webkit-slider-thumb {
  position: relative;
  z-index: 4;
  appearance: none;
  width: 34px; /* w-7 */
  height: 34px; /* h-7 */
  background: white;
  border-radius: 9999px; /* rounded-full */
  border: 1px solid #c3d2c3; /* 테두리 색상도 통일감을 위해 변경 */
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.05))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.15));
}

/* Firefox */
.slider::-moz-range-thumb {
  position: relative;
  z-index: 4;
  width: 1.75rem;
  height: 1.75rem;
  background: white;
  border-radius: 9999px;
  border: none;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
