/* main.module.css */

/* 기본 설정 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentsHeader {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6.3px -3px rgba(0, 0, 0, 0.25);
}

.headerWrap {
  width: 100%;
  padding: 26px;
  padding-right: 20px;
}

.headerContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent a {
  width: 100%;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo img {
  object-fit: cover;
  width: 75%;
  margin: 0 auto;
}

.pageContent {
  flex: 1;
  width: 100%;
  padding-bottom: 40px;
}

/* container 스타일 */
.container {
  width: 100%;
  max-width: 27.5rem; /* 440px */
  margin: 0 auto;
  padding: 0 4%; /* 20px */
}

/* 섹션 */
.section {
  width: 100%;
}
.mainBannerImg {
  margin-top: 20px;
}

.section h1 {
  color: #363636;
  font-size: 1.375rem; /* 22px */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 2rem;
  margin-left: 2px;
  margin-bottom: 1rem;
}

/* 섹션 메뉴 */
.sectionMenu {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 28px;
}

.menuContentsTitle {
  width: 100%;
  padding-left: 4%;
}

.menuContentsTitle p {
  width: 100%;
  font-size: 20px;
  color: #4d4d4d;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.menuContents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 1%;
}

.gridContents {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  padding: 26px 10px;
  background-color: #f3f6fd;
  border-radius: 22px;
}

.menuItem {
  width: calc((100% - 24px) / 3);
  aspect-ratio: 1;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  padding: 5% 4%;
  background-color: #fff;
  box-shadow: 0px 0px 6.3px rgba(0, 0, 0, 0.1);
}

.menuText {
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
  position: relative;
  top: 0;
  left: 0;
}

.menuIconWrapper {
  position: absolute;
  right: 8%;
  bottom: 8%;
}

.menuIconWrapper img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* 카테고리 */
.category {
  width: 100%;
}

.category ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.65rem; /* 12px */
  margin-bottom: 1rem; /* 16px */
}

.category ul li {
  padding: 0.375rem 1.5rem; /* 6px 24px */
  text-align: center;
  color: #575757;
  font-size: 0.75rem; /* 12px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 20px */
  border-radius: 1.5rem; /* 24px */
  border: 0.0625rem solid #96989c; /* 1px */
  width: fit-content;
}

/* 카테고리 박스 */
.categoryBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* 12px */
  background: #f3f6fd;
  border-radius: 1.875rem; /* 30px */
  box-sizing: border-box;
  padding: 1rem; /* 20px */
}

.more {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.1875rem; /* 3px */
  justify-content: end;
}

.more p {
  color: #575757;
  text-align: center;
  font-size: 0.75rem; /* 12px */
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.0225rem; /* -0.36px */
}

.categoryBox ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  vertical-align: middle;
  row-gap: 0.55rem; /* 12px */
  column-gap: 0.8rem; /* 14px */
}

.categoryBox ul li {
  aspect-ratio: 1 / 1;
  border-radius: 1.5rem; /* 24px */
  background-color: #fff;
}

.categoryBox ul li span {
  color: #1e1e1e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.48px;
}

.categoryBox ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

/* 배너 */
.banner {
  margin-top: 2.125rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.imageWrap {
  width: 100%;
  max-width: calc(50% - 0.5rem);
  display: flex;
  justify-content: center;
}

.imageWrap img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.topBannerImage {
  width: 100%;
}

.coverBannerWrap {
  width: 85%;
}

.mainBannerImgWrap {
  width: 92%;
  margin: 0 auto;
}

/* 섹션 탑 */
.coverSectionTop {
  margin-top: 10px;
}

.sectionTop {
  margin-top: 12px;
}

.sectionTopBanner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: start;
}

.sectionTopBanner img {
  width: 100%;
}

/* 가입 컨테이너 */
.signUpContainer {
  width: 100%;
  padding: 0 4%;
}

.signUpContents {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.signUpcontentsBox {
  flex: 1;
  min-width: 0;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09), 0px 3px 4px rgba(0, 0, 0, 0.12);
  padding: 20px 4% 48px 4%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 24px;
  cursor: pointer;
  max-height: 150px;
}

.signUpcontentsBoxTitle {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
}

.boxTitle {
  flex-basis: 65%;
}

.signUpcontentsBoxTitle p {
  color: #006227;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  line-height: 1.3;
}

.signUpcontentsDesc {
  color: var(--Gray-Gray-200, #96989c);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.signUpSpot {
  width: auto;
  min-width: fit-content;
  background: #dbebe1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-top: 3px;
}

.signUpSpot span {
  color: #387545;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.3px;
  padding: 2px 8px;
}

/* 서비스 섹션 */
.sectionService {
  width: 100%;
}

.serviceWrap {
  width: 100%;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.serviceTitle {
  width: 100%;
}

.serviceTitle p {
  color: #4d4d4d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.serviceBtn {
  width: 100%;
}

.serviceBtn ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.serviceBtn ul li {
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.serviceBtn ul li:nth-child(odd) {
  color: white;
  background-color: #7895fc;
}

.serviceBtn ul li:nth-child(even) {
  color: #4d4d4d;
  background-color: #f3f4f6;
}

/* 푸터 */
.footerWrapper {
  margin-top: auto;
  width: 100%;
}

/* 파트너 서비스 섹션 추가 스타일 */

/* 내 보험서비스 래퍼 */

.serviceContainer {
  padding: 0 4%;
  width: 100%;
  padding-bottom: 40px;
}
.partnerServiceWrap {
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 1px 3.8px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 18px;
  margin-top: 1.5rem;
}

.partnerServiceContents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.partnerServiceTitle {
  display: flex;
  align-items: center;
  gap: 4px;
}

.partnerServiceTitle p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.48px;
  margin-top: 2px;
}

.partnerServiceContents span {
  background-color: #ececec;
  border-radius: 8px;
  padding: 1% 3%;
  color: #575757;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.partnerServiceList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.partnerServiceList li {
  color: #7e7e7e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.48px;
}

.partnerServiceHr {
  position: relative;
  width: calc(100% + 36px);
  margin-left: -18px;
  border: none;
  height: 1px;
  background-color: #e7e7e7;
}

/* 파트너 클레임 메뉴 */
.partnerClaimMenu {
  margin-top: 2rem;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  padding: 1.4rem;
  box-shadow: 0px 1px 3.8px 0px rgba(0, 0, 0, 0.25);
}

.partnerClaimMenu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.partnerClaimMenu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.partnerClaimMenu ul li p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.32px;
}

.partnerClaimMenuList {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* 미디어 쿼리 */
@media screen and (max-width: 400px) {
  .menuContentsTitle p {
    font-size: 18px;
  }

  .menuText {
    font-size: 14px;
  }

  .menuIconWrapper img {
    width: 40px;
    height: 40px;
  }

  .signUpContents {
    gap: 10px;
  }

  .signUpcontentsBoxTitle p {
    font-size: 16px;
  }
}

@media screen and (max-width: 48rem) {
  .category ul {
    gap: 0.45rem;
  }
  .categoryBox ul li {
    font-size: 0.875rem; /* 14px */
    border-radius: 1.2rem; /* 24px */
  }
  .categoryBox ul li span {
    font-weight: 500;
    font-size: 14px;
  }
  .categoryBox ul li img {
    width: 32px;
    height: 32px;
  }
}
.partnerServiceList li {
  font-size: 14px;
}
.partnerClaimMenu ul li p {
  font-size: 14px;
  font-weight: 500;
}
.partnerServiceTitle p {
  font-size: 14px;
}

@media screen and (max-width: 365px) {
  .logo img {
    width: 85%;
  }

  .menuContentsTitle p {
    font-size: 16px;
  }

  .menuText {
    font-size: 14px;
  }

  .menuIconWrapper {
    right: 7%;
    bottom: 7%;
  }

  .menuIconWrapper img {
    width: 40px;
    height: 40px;
  }

  .signUpcontentsBoxTitle p {
    font-size: 16px;
  }

  .signUpcontentsDesc {
    font-size: 12px;
    letter-spacing: -1px;
  }

  .signUpSpot span {
    font-size: 9px;
    padding: 2px 6px;
  }
}

@media screen and (max-width: 321px) {
  .logo img {
    width: 85%;
  }

  .gridContents {
    padding: 16px 4%;
    gap: 6px;
  }

  .menuItem {
    width: calc((100% - 12px) / 3);
    padding: 4%;
    border-radius: 16px;
  }

  .menuText {
    font-size: 14px;
  }

  .menuIconWrapper {
    right: 6%;
    bottom: 6%;
  }

  .menuIconWrapper img {
    width: 32px;
    height: 32px;
  }

  .signUpcontentsDesc {
    font-size: 10px;
  }

  .categoryBox ul li img {
    width: 28px;
    height: 28px;
  }
}
