/* DisasterMainHeader.module.css */
.disasterMainHeaderContainer {
  width: 100%;
  padding: 10px 4%;
  border-bottom: 2px solid rgba(156, 156, 156, 0.4);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
}

.disasterMainHeaderContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 440px;
  margin: 0 auto;
}

.disasterMainLogoWrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 30%;
}

.disasterMainLogo {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.disasterMainTitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  width: 50%;
}

.disasterMainTitleWrapper span {
  color: #4a4a4a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.disasterMainTitle {
  font-size: 16px;
  font-weight: 600;
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
}

.disasterMainHeadPhoneWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.disasterMainHeadPhone {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .disasterMainHeaderContainer {
    padding: 12px 4%;
  }

  .disasterMainLogo {
    height: 32px;
  }

  .disasterMainTitle {
    font-size: 14px;
  }

  .disasterMainHeadPhone {
    width: 20px;
    height: 20px;
  }
}
