.baseModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(97, 97, 97, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
}

.baseModalContent {
  background-color: white;
  max-width: 368px;
  width: 100%;
  border-radius: 36px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  margin-top: 60px;
}

.baseModalOverlay.show {
  animation: fadeIn 0.1s ease-out forwards;
}

.baseModalContent.show {
  animation: contentFadeIn 0.25s ease-out forwards;
  animation-delay: 0.05s;
}

.baseModalOverlay.hide {
  animation: fadeOut 0.3s ease-out forwards;
}

.baseModalContent.hide {
  animation: contentFadeOut 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentFadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media screen and (max-width: 768px) {
  .baseModalContent {
    width: 94%;
  }
}
