/* 리셋 및 기본 스타일 */
.container {
  width: 100%;
  max-width: 440px;
  padding-bottom: 30px;
}

.Wrap {
  padding: 40px 20px;
}

.section {
  width: 100%;
  margin-top: 1.2rem;
}

.Wrap p {
  margin-top: 0.4rem;
}

.Wrap h2 {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}

/* 제목 관련 스타일 */
.mainTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.highlightText {
  font-size: 1.6rem;
  width: fit-content;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.highlightText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background-color: #b2d39f;
  z-index: -1;
}

/* 구분선 스타일 */
.line {
  margin-top: 1rem;
  border: solid 1px #ebebeb;
}

.division {
  width: calc(100% + 40px);
  margin-top: 1rem;
  margin-left: -20px;
  border: solid 5px #ebebeb;
  box-sizing: border-box;
}

/* 동의 섹션 스타일 */
.agree {
  width: 100%;
  padding: 14px 6px;
}

.agree h3 {
  font-size: 1rem;
  color: #4a4a4a;
  margin: 0;
}

/* 버튼 관련 스타일 */
.buttonWrap ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 1rem;
}

.buttonWrap ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consentButtons {
  display: flex;
  gap: 8px;
}

.button {
  display: flex;
  gap: 8px;
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
}

.button:hover {
  background-color: #e8e8e8;
}

.button.active {
  background: rgba(142, 191, 141, 0.4);
}

/* 동의하기 버튼 스타일 */
.consentButton {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 400px;
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.5;
  background-color: #386937;
  z-index: 10;
}

.consentButton:hover {
  background-color: #2d5329;
}

.consentButton:active {
  background-color: #234120;
}

/* 반응형 스타일 */
@media screen and (max-width: 390px) {
  .highlightText {
    font-size: 1.4rem;
  }

  .Wrap {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 334px) {
  .consentButton {
    padding: 0.9rem;
  }
}
