#containerExterior {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-weight: 400;
  background: #414141;
}

.wrap {
  max-width: 27.5rem;
  position: relative;
  background: #ffffff;
  width: 100%;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  gap: 0.375rem;
}

.mainTitle h2 {
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.mainTitle p {
  margin: 0 auto;
  color: #386937;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}

.selectContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.25rem;
}

.selectContain ul {
  display: flex;
  gap: 1.25rem;
  padding: 0 8%;
  list-style: none;
  margin: 0;
}

.selectContain ul li {
  width: 50%;
  aspect-ratio: 1/1;
}

.selectContain ul li div {
  height: 100%;
  border: none;
  box-shadow: 0px 1px 11.9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.625rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.selectContain ul li img {
  width: 50%;
  max-height: 60%;
  object-fit: contain;
}

.selected {
  border: 2px solid #386937 !important;
}

.buttonWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 440px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 16px;
}

.buttonContain {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.btnDisabled,
.buttonActive,
.buttonDisabled {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 0.875rem;
  font-weight: 600;
  width: 100%;
}

.btnDisabled {
  color: #484646;
  background: #c3d2c3;
  cursor: pointer;
}

.buttonActive {
  color: white;
  background: #386937;
  cursor: pointer;
}

.buttonDisabled {
  background: #386937;
  opacity: 0.7;
  color: white;
  cursor: not-allowed;
}

@media screen and (max-width: 420px) {
  .selectContain {
    gap: 1rem;
  }

  .selectContain ul {
    padding: 0 5%;
  }

  .selectContain ul li div {
    border-radius: 1.4rem;
  }

  .selectContain ul li img {
    width: 45%;
  }

  .buttonWrap {
    padding: 0 10px;
  }
  .btnDisabled,
  .buttonActive,
  .buttonDisabled {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .selectContain ul {
    gap: 0.75rem;
  }

  .buttonWrap {
    padding: 0 8px;
  }
}
