/* workSpaceModal.module.css */
.modalHeader {
  padding: 16px 0;
  margin-bottom: 24px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px 0;
  color: #333;
}

.subTitle {
  font-size: 16px;
  color: #666;
  display: block;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 32px;
}

.button {
  flex: 1;
  padding: 14px 0;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.primaryBtn {
  background: var(--disable, #c3d2c3);
  color: #4a4a4a;
}

.secondaryBtn {
  background: var(--Main, #386937);
  color: #fff;
}
