/* 리셋 및 기본 스타일 */
.container {
  width: 100%;
  max-width: 440px;
}
.Wrap {
  padding: 40px 20px;
}

.section {
  width: 100%;
  margin-top: 1.2rem;
}

.section p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

h2 {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
}

.highlightText {
  width: fit-content;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}

.highlightText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 40%; /* 하이라이트의 높이 조절 */
  background-color: #e2eedf; /* 하이라이트 색상 */
  z-index: -1;
}

@media screen and (max-width: 390px) {
  .highlightText {
    font-size: 1.6rem;
  }
}
