.modalSection {
  width: 100%;
  padding: 20px 22px;
}

.closeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.closeButton img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.modalIcon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.modalTitle {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.confirmButton {
  background-color: #386937;
  color: white;
  text-align: center;
  padding: 1.1rem;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 16px;
  margin-top: 16px;
  cursor: pointer;
  border: none;
}